@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
*{
    box-sizing: border-box;
}

body{
    align-items: center;
    background-image: url('winter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    

}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}
.countdown-container{
    display: flex;/*put the container in-line*/
}
.big-text{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;/*height between line and span*/
    margin:0 2rem;/*separation between numbers*/
}
.countdown-el{
    text-align: center;

}

.countdown-el span{

    font-size: 1.3rem;
}